@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --primary-bg: #000411;
  --link-color-primary: #aeb7b3;
  --secondary-bg: #e1efe6;
  --link-color-secondary: #e1efe6;
  --primary-button-hover: #160c28;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-bg);
}

button {
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.8em 1.2em;
  font-size: 1.1rem;
}

button,
input {
  border-radius: 8px;
}

header {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
}

.logo,
.logo-wrapper {
  height: 3.5em;
}

nav {
  margin-right: 1em;
  display: flex;
}

nav a,
nav h3 {
  text-decoration-color: var(--primary-bg);
  margin: auto 1em;
  color: var(--link-color-primary);
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
}

nav a:hover {
  color: var(--link-color-secondary);
  text-decoration-color: var(--link-color-primary);
}

main {
  min-height: calc(100vh - 4em);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container,
.signin {
  min-height: calc(100vh - 4em);
  align-items: center;
  justify-content: center;
}

.home-container img {
  max-width: 80%;
  margin: 0 auto;
}

.home-container button {
  padding: 0.8em 1.2em;
  background-color: var(--primary-bg);
  color: var(--link-color-secondary);
  font-size: 1.1rem;
}

.home-container button:hover {
  transform: scale(1.1);
  background-color: var(--primary-button-hover);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-overlay {
  /* border: 2px solid var(--primary-button-hover); */
  width: 60%;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
}

form,
.input-wrapper {
  margin: auto;
  width: 80%;
}

form label {
  align-self: flex-start;
}

.input-wrapper {
  width: 80%;
  margin: 0;
  padding: 0;
}

.input-wrapper input {
  padding: 0.6em 1.2em;
  margin: 0.5em auto;
  width: 100%;
  border-color: var(--primary-bg);
  font-size: 1.1rem;
  outline: none;
}

input::placeholder {
  opacity: 0.7;
}

form button {
  background-color: var(--primary-button-hover);
  margin: 1em 0;
  color: var(--link-color-secondary);
  align-self: center;
  width: 100%;
}

form button:hover {
  opacity: 0.7;
}

form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  margin-top: 4em;
}

.col-4 {
  grid-template-columns: repeat(auto-fill, 400px);
}

.card {
  width: 350px;
  height: 550px;
  background-color: var(--primary-bg);
  color: var(--secondary-bg);
  border-radius: 8px;
  padding: 1em;
  text-align: center;
}

.card p {
  height: 50px;
}

.card h3 {
  height: 50px;
}

.card img {
  width: 100%;
}

.protected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
