@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --primary-bg: #000411;
  --link-color-primary: #aeb7b3;
  --secondary-bg: #e1efe6;
  --link-color-secondary: #e1efe6;
  --primary-button-hover: #160c28;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-bg);
}

button {
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.8em 1.2em;
  font-size: 1.1rem;
}

button,
input {
  border-radius: 8px;
}

header {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
}

.logo,
.logo-wrapper {
  height: 3.5em;
}

nav {
  margin-right: 1em;
  display: flex;
}

nav a,
nav h3 {
  text-decoration-color: var(--primary-bg);
  margin: auto 1em;
  color: var(--link-color-primary);
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
}

nav a:hover {
  color: var(--link-color-secondary);
  text-decoration-color: var(--link-color-primary);
}

main {
  min-height: calc(100vh - 4em);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container,
.signin {
  min-height: calc(100vh - 4em);
  align-items: center;
  justify-content: center;
}

.home-container img {
  max-width: 80%;
  margin: 0 auto;
}

.home-container button {
  padding: 0.8em 1.2em;
  background-color: var(--primary-bg);
  color: var(--link-color-secondary);
  font-size: 1.1rem;
}

.home-container button:hover {
  transform: scale(1.1);
  background-color: var(--primary-button-hover);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.image2 {
  height: 48vh;
  width: 90vh;
  margin-left: 55vh;
  margin-top: 1.75vh;
}

/* https://codepen.io/dp_lewis/pen/WNZQzN */
.card-label {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
  min-height: 100%;
	width: 50vh;
	height: 30vh;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
}

.full {
	position: absolute;
	top: 60.5vh;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}

.card {
	position: absolute;
}

.keys {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}

.card:focus ~ .keys {
	opacity: 0.8;
}

.card:nth-of-type(1):checked ~ label:nth-of-type(1), 
.card:nth-of-type(2):checked ~ label:nth-of-type(2),
.card:nth-of-type(3):checked ~ label:nth-of-type(3),
.card:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

.card:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

.card:nth-of-type(2):checked ~ label {
	transform: translate3d(0, 0, 0);
}

.card:nth-of-type(3):checked ~ label {
	transform: translate3d(0, 0, 0);
}

.card:nth-of-type(4):checked ~ label {
	transform: translate3d(0, 0, 0);
}

label[for="clubs"] {
	background-size: cover;
	background-image: url("https://img.freepik.com/premium-photo/restaurant-chef-kitchen-neural-network-ai-generated_76080-39007.jpg");
}

label[for="spades"]{
	background-size: cover;
	background-image: url("https://images.nightcafe.studio/jobs/2tKWu3ALfOrJVVmvfv1Z/2tKWu3ALfOrJVVmvfv1Z--1--e1a42.jpg?tr=w-1600,c-at_max");
}
label[for="hearts"] {
	background-size: cover;
	background-image: url("https://www.gyftr.com/rewards/amex-platinumreserve/images/BookMyShow-banner.png");
}

label[for="clubs1"] {
	background-size: cover;
	background-image: url("https://www.mcdmenu.net/wp-content/uploads/2023/11/Mcdonalds-Menu-India-768x768.webp");
}

label[for="spades1"]{
	background-size: cover;
	background-image: url("https://th.bing.com/th/id/R.251dbf3ea9232a573b784b88b25de8df?rik=1DoABEOgtwW44A&pid=ImgRaw&r=0");
}
label[for="hearts1"] {
	background-size: cover;
	background-image: url("https://images.nightcafe.studio/jobs/L7oE6U8olGPtFEtzGUDR/L7oE6U8olGPtFEtzGUDR--1--8in1d.jpg?tr=w-1600,c-at_max");
}

label[for="clubs2"] {
	background-size: cover;
	background-image: url("https://images.nightcafe.studio/jobs/htbUvBfZwMglGTJNFUYA/htbUvBfZwMglGTJNFUYA--1--t12x5.jpg?tr=w-1600,c-at_max");
}

label[for="spades2"]{
	background-size: cover;
	background-image: url("https://img.freepik.com/premium-photo/perfume-best-perfume-generative-ai_983314-1972.jpg");
}
label[for="hearts2"] {
	background-size: cover;
	background-image: url("https://cdna.artstation.com/p/assets/images/images/042/872/676/large/duong-nguyen-junpeiro-remastered.jpg?1635692715");
}

.card-label:before,
.card-label:after {
	color: white;
	display: block;
	background: rgba(255,255,255,0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

.card-label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.card-label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
/**/

.card-overlay {
  /* border: 2px solid var(--primary-button-hover); */
  width: 60%;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
}

form,
.input-wrapper {
  margin: auto;
  width: 80%;
}

form label {
  align-self: flex-start;
}

.input-wrapper {
  width: 80%;
  margin: 0;
  padding: 0;
}

.input-wrapper input {
  padding: 0.6em 1.2em;
  margin: 0.5em auto;
  width: 100%;
  border-color: var(--primary-bg);
  font-size: 1.1rem;
  outline: none;
}

input::placeholder {
  opacity: 0.7;
}

form button {
  background-color: var(--primary-button-hover);
  margin: 1em 0;
  color: var(--link-color-secondary);
  align-self: center;
  width: 100%;
}

form button:hover {
  opacity: 0.7;
}

form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  margin-top: 4em;
}

.col-4 {
  grid-template-columns: repeat(auto-fill, 400px);
}

.card {
  width: 350px;
  height: 550px;
  background-color: var(--primary-bg);
  color: var(--secondary-bg);
  border-radius: 8px;
  padding: 1em;
  text-align: center;
}

.card p {
  height: 50px;
}

.card h3 {
  height: 50px;
}

.card img {
  width: 100%;
}

.protected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
